<div class="container chi-siamo-container">
  <!-- Intestazione -->
  <div class="text-center mb-5 mt-5">
    <h1 class="text-light">
      <i class="fas fa-person-running icon"></i>
      Benvenuti nel nostro angolo di fitness e benessere!
      <i class="fas fa-person-running icon"></i>
    </h1>
  </div>

  <!-- Sezione Storia -->
  <section class="mb-5 story">
    <p class="text-light mb-5 text-center">
      Fondata nel cuore della città, AngFitness è più di una palestra. È un
      luogo dove le persone si incontrano, si ispirano e crescono insieme. Con
      anni di esperienza nel settore, ci impegniamo a fornire un ambiente
      accogliente e motivante per ogni individuo.
    </p>
    <p class="text-light text-center">
      Offriamo una vasta gamma di corsi per tutte le età e livelli di fitness,
      dal cardio alla forza, fino al relax. Ogni giorno lavoriamo per aiutare i
      nostri membri a raggiungere i loro obiettivi di benessere fisico e
      mentale.
    </p>
  </section>

  <!-- Sezione I Nostri Valori -->
  <section class="mb-5 bg-dark p-4 our-values">
    <h2 class="text-center text-light mb-5">I Nostri Valori</h2>
    <div class="row text-center">
      <div class="col-md-4">
        <h4>Passione</h4>
        <p class="text-light">
          La passione per il fitness ci guida ogni giorno nel nostro lavoro.
          Siamo motivati a fare la differenza nella vita delle persone.
        </p>
      </div>
      <div class="col-md-4">
        <h4>Comunità</h4>
        <p class="text-light">
          Crediamo nel potere della comunità. La palestra è il nostro punto di
          incontro dove i membri si sostengono a vicenda.
        </p>
      </div>
      <div class="col-md-4">
        <h4>Innovazione</h4>
        <p class="text-light">
          Inseguiamo costantemente nuove tendenze nel mondo del fitness e
          utilizziamo le migliori tecnologie per migliorare l'esperienza dei
          nostri utenti.
        </p>
      </div>
    </div>
  </section>

  <!-- Sezione Il Nostro Team -->
  <section class="mb-5 team">
    <h2 class="text-center mb-3">Il Nostro Team</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="https://img.freepik.com/vektoren-kostenlos/die-veranschaulichung-des-laechelnden-jungen_1308-174669.jpg"
            class="card-img-top"
            alt="Istruttore 1"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Marco Bianchi</h5>
            <p class="card-text">
              Personal trainer e specialista in allenamento funzionale. Aiuta i
              suoi clienti a superare i propri limiti e raggiungere performance
              straordinarie.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="https://thumbs.dreamstime.com/b/d-avatar-illustration-smiling-happy-girl-cartoon-close-up-portrait-standing-isolated-transparent-png-background-generative-272798686.jpg"
            class="card-img-top"
            alt="Istruttore 2"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Anna Rossi</h5>
            <p class="card-text">
              Istruttrice di Yoga e Pilates. La sua passione per il benessere e
              l'equilibrio mentale la rende una guida perfetta per i nostri
              corsisti.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="https://img.freepik.com/free-vector/young-prince-vector-illustration_1308-174367.jpg"
            class="card-img-top"
            alt="Istruttore 3"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Luca Verdi</h5>
            <p class="card-text">
              Coach di CrossFit. La sua energia contagiosa motiva tutti a dare
              il massimo in ogni allenamento. Punto di riferimento importante
              per tutti.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Sezione Galleria -->
  <section class="mb-5 gallery">
    <h2 class="text-center mb-3">La Nostra Galleria</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <img
          src="https://www.fitness-world.in/wp-content/uploads/2022/01/Planning-to-Install-a-Gym-in-your-Society-Banner-1200x620.jpg"
          class="img-fluid"
          alt="Palestra 1"
        />
      </div>
      <div class="col-md-4 mb-4">
        <img
          src="https://images.pexels.com/photos/1954524/pexels-photo-1954524.jpeg?cs=srgb&dl=pexels-willpicturethis-1954524.jpg&fm=jpg"
          class="img-fluid"
          alt="Palestra 2"
        />
      </div>
      <div class="col-md-4 mb-4">
        <img
          src="https://www.fitness-world.in/wp-content/uploads/2022/01/5-Reasons-Why-Your-Residential-Building-Needs-a-Professional-Gym-Banner-1200x620.jpg"
          class="img-fluid"
          alt="Palestra 3"
        />
      </div>
    </div>
  </section>

  <!-- Sezione Contatti -->
  <section class="text-center mb-5 contact">
    <p class="text-light">
      Hai domande? Vuoi maggiori informazioni? Scrivici e ti risponderemo al più
      presto!
    </p>
    <a href="mailto:info@angfitness.com" class="btn btn-lg">Contattaci</a>
  </section>
</div>
